@use "./../01-abstracts/" as *;

.intro {
  padding: 88px 24px 68px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  row-gap: 64px;
  @include breakpoint($x-lg) {
    padding: 121px;
  }

  &__text {
    text-align: center;
    flex-basis: 525px;
    @include breakpoint(1158px) {
      text-align: left;
    }
  }

  &__cta {
    flex-basis: 540px;
  }

  &__title {
    font-weight: 700;
    font-size: rem(28px);
    line-height: rem(36px);
    letter-spacing: rem(-0.291667px);
    margin-bottom: 16px;
    @include breakpoint($x-lg) {
      font-size: rem(50px);
      line-height: rem(55px);
      letter-spacing: rem(-0.520833px);
      margin-bottom: 34px;
    }
  }

  &__trial {
    background-color: $purple;
    padding: 18px 66px;
    text-align: center;
    font-size: rem(15px);
    line-height: rem(26px);
    font-weight: 400;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    margin-bottom: 24px;
    @include breakpoint($x-lg) {
      padding: 17px;
    }
  }

  &__form {
    background: #ffffff;
    padding: 24px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    @include breakpoint($x-lg) {
      padding: 40px;
    }
  }

  &__input {
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 16px;
    padding: 15px 19px;
    color: $black;
    font-weight: 600;
    font-size: rem(14px);
    line-height: rem(24px);
    letter-spacing: rem(0.25px);
    caret-color: $purple;
    @include breakpoint($x-lg) {
      padding-left: 32px;
      margin-bottom: 20px;
    }

    &::placeholder {
      color: $black;
      opacity: 0.75;
    }

    &:focus-visible {
      outline-color: $purple;
    }
  }

  &__button {
    background-color: $green;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(26px);
    text-align: center;
    letter-spacing: rem(1px);
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background-color: #77e2b3;
    }

    &:active {
      transform: scale(0.9);
      background-color: revert;
    }
  }

  &__terms {
    font-weight: 500;
    font-size: rem(11px);
    line-height: rem(21px);
    text-align: center;
    color: #bab7d4;
    padding: 0 15px;
    margin: auto;
  }
}
